name: Convert Markdown to PDF and Create Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Pandoc and jq
      run: |
        sudo apt-get update
        sudo apt-get install -y pandoc texlive jq

    - name: Fetch the latest release
      id: fetch_latest_release
      run: |
        LATEST_TAG=$(curl -s https://api.github.com/repos/${{ github.repository }}/releases/latest | jq -r .tag_name)
        if [ -z "$LATEST_TAG" ] || [ "$LATEST_TAG" == "null" ]; then
          LATEST_TAG="v0.4.0"
        fi
        # using this to fake/bump versions to v1.0
        if [ "$LATEST_TAG" == "v0.4.0" ]; then
          LATEST_TAG="v1.0"
        fi
        echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_ENV

    - name: Increment version
      id: increment_version
      run: |
        LATEST_TAG=${{ env.LATEST_TAG }}
        echo "Latest tag: $LATEST_TAG"
        LATEST_VERSION=${LATEST_TAG#v}
        IFS='.' read -r major minor <<< "$LATEST_VERSION"
        NEW_VERSION="$major.$((minor + 1))"
        NEW_TAG="v$NEW_VERSION"
        echo "New version: $NEW_TAG"
        echo "NEW_TAG=$NEW_TAG" >> $GITHUB_ENV

    - name: Concatenate and Convert Markdown to PDF
      run: |
        pandoc document/1.0/*.md -o TASVS-${{ env.NEW_TAG }}.pdf -V geometry:margin=2cm

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.NEW_TAG }}
        release_name: Release ${{ env.NEW_TAG }}
        draft: false
        prerelease: false

    - name: Upload PDF to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./TASVS-${{ env.NEW_TAG }}.pdf
        asset_name: TASVS-${{ env.NEW_TAG }}.pdf
        asset_content_type: application/pdf
